doctype html
html
  head
    meta(http-equiv='content-type' content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    title= title
    meta(name='generator', content='Bootply')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome.min.css')
    //script(src='/lib/jquery/dist/jquery.js')
    //script(src='/lib/bootstrap/dist/js/bootstrap.js')
  
    
    link(rel='stylesheet', href='/stylesheets/style.css' )
  body
    header.navbar.navbar-bright.navbar-fixed-top(role='banner')
        div.container
            div.navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar      
                a.navbar-brand(href='/') Home
                a.navbar-brand(href='/businesses') Businesses
                a.navbar-brand(href='/restaurants') Restaurants
            

    #masthead
      .container
        .row
          .col-md-7
            h1 
              a(href='') 
                img(alt='', src='/images/company_logo.png' style='width:auto;height:65px')  
                span Demo Use Case 
              p.lead    

          block weatherContent
          
      // /cont
      .container
        .row
          .col-md-12
            .top-spacer  
      
          
    block content

    #footer.container
      .row
        .col.col-sm-12
          h1 Follow Us
          .btn-group
            a.btn.btn-twitter.btn-lg(href='#')
              i.icon-twitter.icon-large Twitter
            a.btn.btn-facebook.btn-lg(href='#')
              i.icon-facebook.icon-large Facebook
            a.btn.btn-google-plus.btn-lg(href='#')
              i.icon-google-plus.icon-large Google+
    
    footer
      .container
        .row
          .col-sm-6
            ul.list-inline
              li
                i.icon-facebook.icon-2x          
              li
                i.icon-twitter.icon-2x
              li
                i.icon-google-plus.icon-2x
              li
                i.icon-pinterest.icon-2x
          .col-sm-6
            p.pull-right Built with 
                i.icon-heart-empty at 
                a(href='http://www.bootply.com') Bootply
script(src='/lib/jquery/dist/jquery.min.js')
script(src='/lib/bootstrap/dist/js/bootstrap.min.js')